 body{
	min-height:60em;
 }
 
 h1{
	color:#272F52;
	margin-left:12em;
 }
 
 .ui-autocomplete {
 	min-width: 500px !important;
 	max-width: 700px !important;
	max-height: 300px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}


.fieldsetEstilo{
	margin: 4em 0 0 0;
	border-radius:5px;
	max-width:65em;
	border: 1px solid #3D4566;
}

legend{
	color:#3D4566;
	font-weight:bold;
}

.mapeoCIE{
	padding-left: 1em;
}